body {
  margin: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
.content-table{
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 400px;
}

.content-table thead tr{
  background-color: #c19065;
  text-align: left;
  font-weight: bold;
}
.content-table th,
.content-table td{
  padding: 8px 10px;
}

.content-table tbody tr{
  border-bottom: 1px solid #dddddd
}
.content-table tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 500%;
  color: #59340D;
}

.under-logo {
  font-family: 'Indie Flower', cursive;
  font-size: 1.9rem;
  color: #A66A5A;
  font-weight: 600;
}

h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 2.5rem;
  color: #CD7E2B;

}

h3 {
  font-family: 'Indie Flower', cursive;
  color: #91684a;
  margin: auto;
  font-size: 1.3em;
}

.top-container {
  background-image: linear-gradient(to bottom, #c19065, #d2a286, #deb6a6, #e7cbc5, #ece2e1);
  padding-top: 150px;
}

.top-cloud {
  position: absolute;
  height: 70px;
  right: 250px;
  top: 80px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
  height: 70px;
}

.bottom-container {
  font-family: 'Lato', sans-serif;
  background-color: #e1bc91;
  padding: 5px 0 20px;
}


.footer-link {
  color: #91684a;
  display: inline-block;
  height: 10px;
  padding: 10px;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6f6
}

.middle-container{
  background-image: linear-gradient(to bottom, #ece2e1, #ede5e7, #ede9eb, #eeedee, #f0f0f0);
}

.profile-img{
  width: 250px;
  margin-top: 50px;
}


.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.bruno{
  width: 30%;
  float: left;
  margin-right: 30px;
  border-radius: 10%;
}

.bruno2{
  width: 30%;
  float: right;
  margin-right: 100px;
  border-radius: 10%;
  position: relative;
  bottom: 40px;

}

.about-me{
  line-height: 2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-top-color: #c19277;
  border-top-width: 7px;
  width: 4%;
  margin: 100px auto;
}

.contact-paragraph{
  padding-top: 20px;
  line-height: 2;
  font-weight: 600;
}


.BUTTON {
   background: rgba(239, 122, 0, 0.85);
   background-image: -webkit-linear-gradient(top, rgba(239, 122, 0, 0.85), #F2CFAA);
   background-image: -moz-linear-gradient(top, rgba(239, 122, 0, 0.85), #F2CFAA);
   background-image: -ms-linear-gradient(top, rgba(239, 122, 0, 0.85), #F2CFAA);
   background-image: -o-linear-gradient(top, rgba(239, 122, 0, 0.85), #F2CFAA);
   background-image: -webkit-gradient(to bottom, rgba(239, 122, 0, 0.85), #F2CFAA);
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   height: 13px;
   line-height: 13px;
   color: #FFFFFF;
   font-family: 'Lato', sans-serif;
   width: 107px;
   font-size: 26px;
   padding: 18px;
   margin-bottom: 40px;
   margin-top: 20px;
   border: solid #CD7E2B 3px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.credits{
  color: #FFFFFF;
  margin-top: 30px;
  font-size: 0.75rem;
}
